<div align="center">
<legend>
<strong>Profile</strong>
</legend>
<!--<p id="notice"><%= notice %></p>-->
<table>
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @user.name %></td>
  </tr>
  <table>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', posts_path %>
</div>