// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pcontent{
	height: 100px ;
    text-overflow: ellipsis;
    white-space: auto;
    overflow: scroll;
}
legend{
	font-size: 30px;
}